<div class="container">
    <div class="section">
        <div class="vertical-center">
            <div class="first text-center">
                <span class="spacing bold"><strong>FOLLOWER COVER</strong></span><br>
                <span class="spacing">INSURANCE & FINANCIAL SOLUTIONS FOR INFLUENCERS, CONTENT CREATORS &
                    ENTREPRENEURS</span>
            </div>

            <div class="second text-center">
                <span class="spacing">YOU GET <i>INSURANCE</i></span><br>
                <span class="spacing">YOUR <i>FANS</i> COVER IT</span><br>
                <span class="spacing">IT IS A WIN-WIN</span><br>
            </div>

            <div class="third text-center">
                <span>Save your hard earned <i>pre-tax</i> income</span><br>
                <span>Increase your fans engagement</span><br>
                <span>Let your followers cover your insurance & financial tools through gifts</span><br><br>
                <a href="">GET STARTED NOW</a>
            </div>
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col-sm-4 align-items-end">
            <img src="assets/images/Image2.png" class="img-fluid">
        </div>
        <div class="col-sm-8 align-items-end">
            <img src="assets/images/Image1.png" class="img-fluid">
        </div>
    </div>
    <div class="row section-two">
        <div class="col-sm-4">
            Getting insurance for self-employed creators should NOT be hard!
        </div>
        <div class="col-sm-4">
            Enable your followers, supscribers, fans, friends & family to gift you insurance & whatever you need
        </div>
        <div class="col-sm-4">
            Stop spending your hard-earned taxable income on non-taxable items
        </div>
    </div>
    <div class="row section-three">
        <div class="col-sm-8 left-section">
            <span>TESTIMONIAL</span>
            <p>
                Jennifer is in love with traveling, nature & PNW! She has an army of over <i>300,000</i> Instagram
                followers.
            </p>
            <p>
                Constant traveling has its own risks & makes getting health insurance insanely expensie & complicated.
            </p>
            <p>
                Our platform enabled her followers to get Jennifer the health insurance she deserved.
            </p>
            <p>
                She continues to share amazing content with her followers. She will never worry about going to the
                doctor again!
            </p>
            <span><sup>*</sup>Confidentiality is our top priority. We never reveal the true identity of our clients.
                This photo does not represent our client.</span>
        </div>
        <div class="col-sm-4">
            <span>JENNIFER<sup>*</sup></span>
            <img src="assets/images/Image3.png" class="img-fluid">
        </div>
    </div>
    <hr>
    <div class="text-center">
        <p class="h2 noto">How it works?</p>
    </div>
    <div class="row noto-center">
        <div class="col-sm-6">
            <img src="assets/images/Image4.png" class="img-fluid">
        </div>
        <div class="col-sm-6 vertical-center">
            <ol>
                <li>You start the process in our website, choose the insurance coverage(s) you need.</li>
                <li>We will send you a payment link and QR code.</li>
                <li>You add the link/QR code to your website, profile or link tree page.</li>
                <li>Your followers use the link to pay for your insurance coverage.</li>
                <ul>
                    <li>You can pay it yourself, if you choose to. We provide the best insurance regardless of who pays.
                    </li>
                </ul>
                <li>As soon as the payment is completed, we will send you the insurance ID card.</li>
            </ol>
            <div class="text-center">
                <a href="">GET STARTED NOW</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="row justify-content-md-center text-center">
        <div class="col-sm-5">
            <span class="font-small">$</span><span class="font-large">0</span>
            <div class="get-started spacing">
                <p>IT COSTS YOU $0 TO START!</p>
                <p>WHAT ARE YOU WAITING FOR?</p>
            </div>
            <div class="get-started-link">
                <a href="">GET STARTED NOW</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="row section">
        <div class="col-sm-6 lemonada vertical-center">
            <span class="h1">Is it <i>really</i> that easy?</span>
            <p><strong>Follower Cover</strong>'s goal is to bring the best insurance & financial solutions to
                influencers, content creators, models, gig economy participants & entrepreneurs community.</p>
            <p>We strongly believe there is no reason for young entrepreneurs to worry about the future!</p>
            <p>You just need to start the process on our website by clicking the link below & complete the application
                process. It only takes 2-7 minutes!</p>
            <p>After we receive your application, our AI machine reviews it, provides quotes and generates a payment
                link.</p>
            <p>We then send you the link. You can either pay the insurance premium yourself or share it with
                fans/followers and askt hem to contribute<sup>*</sup>.</p>
            <p><sup>*</sup>This can increase fan engagement by up to 75%!</p>
            <p>As soon as the payment is complete, we provide you with an insurance ID card.</p>
            <p>You can use it like any other insurance!</p>
            <p>Still have questions? Reach out to us at <a
                    href="mailto: start@followercover.com">start@followercover.com</a></p>
            <p>Get started right now. Click below:</p>
            <p class="text-center"><a href="">UNLOCK YOUR POTENTIAL</a></p>
        </div>
        <div class="col-sm-6 vertical-center">
            <img src="assets/images/Image5.png" class="img-fluid">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 text-center creators">
            <p class="h1 merienda">From Creators</p>
            <p class="h1 merienda">For Creators</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center creators-sub">
            <p>NEW WORLD, NEW WAY</p>
            <p class="lemonada">Old days of getting insurance by surfing 100 pages online are long gone; like Facebook. Who uses it
                anymore?</p>
        </div>
        <div class="col-sm-4 text-center">
            <p>DEDICATION TO CREATORS</p>
            <p class="lemonada">We are builders who built this business through hard work. We understand the hardships of
                self-employment. We want to make it easy for you to get insurance & do your financials</p>
        </div>
        <div class="col-sm-4 text-center">
            <p>DEDICATED TO FANS</p>
            <p class="lemonada">We know how passionate the followers & fans are. We are enabling them to connect with their favorite
                star: you!</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 text-center">
            <p class="fw-bolder fs-5">CLIENT TESTIMONIALS</p>
            <p class="fs-6"><sup>*</sup>CONFIDENTIALITY IS OUR TOP PRIORITY. WE NEVER REVEAL THE TRUE IDENTITY OF OUR CLIENTS. THESE
                PHOTOS DO NOT REPRESENT OUR CLIENTS.</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
            <img src="assets/images/Thumbnail1.png">
            <p class="fw-bolder">JACKIE</p>
            <p>Follower Cover team did a fantastic job helping me with life insurance. As a single mom content creator,
                I'm always worried about my son. This life insurance, that I'm not even paying for, makes me less
                worried about my son & his future.</p>
        </div>
        <div class="col-sm-4">
            <img src="assets/images/Thumbnail2.png">
            <p class="fw-bolder">ROBERTO</p>
            <p>I'm always busing traveling or editing my videos. It's hard to find time to search for health insurance.
                They made it so easy. It only took a few hours to set it up & in less than 10 days, my fans paid for it.
                It was a win-win!</p>
        </div>
        <div class="col-sm-4">
            <img src="assets/images/Thumbnail3.png">
            <p class="fw-bolder">JULIA</p>
            <p>Sometimes I feel no one understands what we go through as influencers. It's a busy lifestyle. As soon as
                I saw FC, I supmitted my application & received a link for my Link Tree page in an hour! Posted there &
                in less than four days, my incredible community took care of six months of my car insurance!</p>
        </div>
    </div>
    <!-- <div class="dark-background">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>SUPPORTING ALL INFLUENCERS, CONTENT CREATORS & MODELS</p>
            </div>
        </div>
        <div class="row justify-content-md-center text-center">
            <div class="col-sm-3">
                SIMPLE
            </div>
            <div class="col-sm-3">
                PAINLESS
            </div>
            <div class="col-sm-3">
                FAST
            </div>
        </div>
    </div> -->
    <hr/>
    <div class="row">
        <div class="col-sm-6">
            <img src="assets/images/Image6.png">
        </div>
        <div class="col-sm-6">
            <p>OUR STORY</p>
            <p>It started with two simple questions: Why getting insurance is hard? Why no one understands what we go
                through as creators?</p>
            <p>As social media geeks, we are self-employed entrepreneurs. We developed websites for many influencers and
                content creators over the last three years. We understand the influencer lifestyle challenge. We are
                here to help!</p>
            <p>We developed <i>Follower Cover</i> as a solution to answer influencers' insurance and financial needs. As
                of now, we only offer insurance solutions. We get all your info, provide you with a payment link that
                you can pay yourself or share with your fans. We found out if you have more than 100,000 followers, it
                is guaranteed that they cover your insurance.</p>
            <p>We also offer the same services for all other creators & entrepreneurs. Whether you are an entrepreneur
                working for Uber or Lyft or an eBay or Etsy seller, we have similar insurance solutions</p>
            <p>People are always asking if we offer financial solutions such as long term investment solutions or NFT
                selling platform. The answer is: we are working on it! Soon we offer solutions that cover all your
                financial needs.</p>
            <p>Stay with us through our journey!</p>
        </div>
    </div>
    <img src="assets/images/Image7.jpg">
    <div class="row">
        <div class="col-sm-8">
            <img src="assets/images/Image8.png">
        </div>
        <div class="col-sm-3">
            <p>FUTURE FINANCIAL PRODUCTS?</p>
            <p>What about the future?</p>
            <p>We are going to offer retirement plans & reliable investment options soon!</p>
            <p>Our team is working hard to provide no-hassle, online financial solutions such as retirement plans & long
                term investment options for influencers (paid by influencers or their fans), and self-employed
                entrepreneurs.</p>
            <p>We believe we can make it happen by early/mid 2023. If you want to be among the firsts to get updates,
                sign up here:</p>
            <a href="">SIGN UP NOW</a>
        </div>
    </div>
    <div class="row justify-content-md-center text-center">
        <div class="col-sm-4">
            <p>It's Free,</p>
            <p>Your fans will love it,</p>
            <p>And it helps your brand!</p>
            <p>What are you waiting for?</p>
            <a href="">GET STARTED NOW</a>
        </div>
    </div>
</div>