<div class="container">
    <div clas="container">
        <div class="josefin">
            <div>
                FOLLOWER COVER    
            </div>
            <div>INSURANCE & FINANCIAL SOLUTIONS FOR INFLUENCERS, CONTENT CREATORS &
                ENTREPRENEURS</div>
        </div>
        <div>
            <div>YOU GET <i>INSURANCE</i></div>
            <div>YOUR <i>FANS</i> COVER IT</div>
            <div>IT IS A WIN-WIN</div>
        </div>
        <div>
            <div>Save your hard earned <i>pre-tax</i> income</div>
            <div>Increase your fans engagement</div>
            <div>Let your followers cover your insurance & financial tools through gifts</div>
            <div><a href="">GET STARTED NOW</a></div>
        </div>
    </div>
    <div>

    </div>
</div>